# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/
.venv/
vir/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE/editor
.vscode/
.idea/

# Docker
*.log
*.pid
*.seed
*.bak

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db